script(src="js/jquery.min.js")
script(src="js/slick.min.js")
script(src="js/aos.js")
script(src="js/lightbox.min.js")
script(src="js/stickySidebar.js")
script(src="js/main.js")
script(src="js/bodymovin.js")
script(src="js/animation.js")
