section.banner-section
	.container
		.row
			.col-sm-12.banner
				.row.banner__verticalcenter
					.col-sm-6.col-md-6.hidden-xs
						.banner__image
							#bodymovin
					.col-sm-6.col-md-5.col-md-offset-1
						.banner__slider
							.banner__desc 
								h1 Carry your health records wherever you go.
							.banner__desc
								h1 Critical medical records at your fingertips.
							.banner__desc
								h1 Unlimited access of your health record, Anytime.
						.banner__video
							a#open-youtube.video__image(href="https://www.youtube.com/watch?v=3iiSicriIQY" data-lity)
								.banner__video-icon Watch Video