section.features-section.common-section
	.container
		.row
			.col-md-10.col-md-offset-1.banner.text-center
				h3.section-title(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100") Features
				.features-section-container
					.col-sm-4(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300")
						.features__item
							.features__image
								img(src="img/easy-access.svg" alt="Features Image")
							h4.features__title EASY TO ACCESS
							p.common-para.features__desc Health File makes accessing your old medical records simple and uncomplicated. 


					.col-sm-4(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="600")
						.features__item
							.features__image
								img.feature__reliable(src="img/reliable.svg" alt="Features Image")
							h4.features__title Reliable 
							p.common-para.features__desc A reliable and comprehensive record-keeping app for your personal medical information.

					.col-sm-4(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="900")
						.features__item.last
							.features__image
								img(src="img/easy-backup.svg" alt="Features Image")
							h4.features__title Easy TO STORE
						p.common-para.features__desc Click a picture and put it away in one of the predefined folders from where you can access anytime in the future.
