.container
	.row
		.col-md-10.col-md-offset-1
			.footer__wrap
				.footer__item
					h6.footer__title Follow us on
					ul.list-inline.footer__social
						li
							a.healthfile-facebook(href='https://www.facebook.com/Health-File-306253203141566/')
				.footer_item.footer_item--separator
				.footer__item
					h6.footer__title We would like to hear from you
					a.footer__para(href="mailto:contact@helathfile.com") contact@healthfile.com
				.footer_item.footer_item--separator
				.footer__item
					h6.footer__title Download the app
					a.footer__playButton(href="https://play.google.com/store/apps/details?id=org.lollypop.healthfile&hl=en")
						img(src="img/google-play-btn.png", alt="Google Play Button")
					a.footer__terms(href="terms-and-conditions.html") Terms and Conditions*
					a.footer__terms(href="policy.html") Privacy Policy*