nav.navbar.navbar-fixed-top
	.container
		.row
			.col-md-10.col-md-offset-1.navbar__flex
				.navbar-header
					a.navbar-brand(href='index.html')
						img(src="img/logo.svg", alt="MYEMR Logo").logo
				ul.nav-links.pull-right.hidden-xs
					li
						a.button.button--primary-orange(href='https://play.google.com/store/apps/details?id=org.lollypop.healthfile&hl=en') Download the app 