section.testimonial-section.common-section
	.container
		.row
			.col-md-10.col-md-offset-1.testimonial
				.testimonial__row.clearfix(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400")
					.col-sm-5.col-md-6.testimonial__left
						.testimonial__image
							img.img-responsive(src="img/testimonial-img1.png" alt="Testimonial Image")
							.testimonial__bg.visible-md.visible-lg
								.testimonial__bg1(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100")
								.testimonial__bg2(data-aos="fade-right" data-aos-easing="ease" data-aos-delay="200")
								.testimonial__bg3(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300")
								.testimonial__bg4(data-aos="fade-left" data-aos-easing="ease" data-aos-delay="400")
								.testimonial__bg5(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500")
								.testimonial__bg6(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="600")
						p.testimonial__smauthor.visible-xs Sandeep Gupta
							span Jharkand

					.col-sm-7.col-md-5.col-md-offset-1.testimonial__right
						h2.testimonial__title It helped me immensely when I moved to a new city
						p.common-para.testimonial__desc 
							|  My Father suffers from many health complications and his medical records are cumbersome to carry. I consolidated all of it on Healthfile. It was extremely easy for me and his current doctor to go through my medical history and manage his disease. Because of Healthfile I had all the records intact even when we changed city! 
 
						p.testimonial__author.hidden-xs Sandeep Gupta
							span Jharkand 

				.testimonial__row.testimonial__row--evenRow.clearfix(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400")
					.col-sm-5.col-md-6.col-md-offset-1.testimonial__left
						.testimonial__image
							img.img-responsive(src="img/testimonial-img2.png" alt="Testimonial Image")
							.testimonial__bg.visible-md.visible-lg
								.testimonial__bg1(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100")
								.testimonial__bg2(data-aos="fade-right" data-aos-easing="ease" data-aos-delay="200")
								.testimonial__bg3(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300")
								.testimonial__bg4(data-aos="fade-left" data-aos-easing="ease" data-aos-delay="400")
								.testimonial__bg5(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500")
								.testimonial__bg6(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="600")
						p.testimonial__smauthor.visible-xs Ram Chander Singh
							span Kushalnagar, UP

					.col-sm-7.col-md-5.testimonial__right
						h2.testimonial__title Best App to organize my health records
						p.common-para.testimonial__desc 
							| Over the years it has become  quite difficult to keep track of every prescription. More often than not I would end up losing them. Today I keep all the paperwork back home and just carry my phone. With every new prescription, I simply just click a pic and upload it to Healthfile. 

						p.testimonial__author.hidden-xs Ram Chander Singh
							span Kushalnagar, UP

				.testimonial__row.clearfix(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400")
					.col-sm-5.col-md-6.testimonial__left
						.testimonial__image
							img.img-responsive(src="img/testimonial-img3.png" alt="Testimonial Image")
							.testimonial__bg.visible-md.visible-lg
								.testimonial__bg1(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100")
								.testimonial__bg2(data-aos="fade-right" data-aos-easing="ease" data-aos-delay="200")
								.testimonial__bg3(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300")
								.testimonial__bg4(data-aos="fade-left" data-aos-easing="ease" data-aos-delay="400")
								.testimonial__bg5(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500")
								.testimonial__bg6(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="600")
						p.testimonial__smauthor.visible-xs Shubash Dutta
							span Tripura, Agartala 

					.col-sm-7.col-md-5.col-md-offset-1.testimonial__right
						h2.testimonial__title Health File saved my life in the ER
						p.common-para.testimonial__desc 
							| Last month I was brought to the ER due to a stroke. I was travelling alone and was brought to the ER immediately. My treating doctor accessed my entire medical history with Healthfile This reliable app saved my life and what more the ER doctors loved it!


						p.testimonial__author.hidden-xs Shubash Dutta
							span Tripura, Agartala 

				.testimonial__row.testimonial__row--evenRow.last.clearfix(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400")
					.col-sm-5.col-md-6.col-md-offset-1.testimonial__left
						.testimonial__image
							img.img-responsive(src="img/testimonial-img4.png" alt="Testimonial Image")
							.testimonial__bg.visible-md.visible-lg
								.testimonial__bg1(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100")
								.testimonial__bg2(data-aos="fade-right" data-aos-easing="ease" data-aos-delay="200")
								.testimonial__bg3(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300")
								.testimonial__bg4(data-aos="fade-left" data-aos-easing="ease" data-aos-delay="400")
								.testimonial__bg5(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400")
								.testimonial__bg6(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400")
						p.testimonial__smauthor.visible-xs Mehboob Alam Chowdary
							span Calcutta

					.col-sm-7.col-md-5.testimonial__right
						h2.testimonial__title All I have to carry is my phone
						p.common-para.testimonial__desc 
							|  Health File is one of the most comprehensive health records keeping app in the market. It has added immense value to me and my family’s lives. Today when we visit any doctors all we do is carry our phones. That’s about it!




						p.testimonial__author.hidden-xs Mehboob Alam Chowdary
							span Calcutta
