section.video-section
	.container
		.row
			.col-md-10.col-md-offset-1.video
				.video__wrap
					.video__content
						a#open-youtube.video__image(href="https://www.youtube.com/watch?v=3iiSicriIQY" data-lity)
							img.img-responsive(src="img/video-image.png" alt="Video Image")
							.video__icon Play
						.video__info
							h3.section-title.video__title Thank You 
							p.common-para.video__desc Dr. Devi Shetty for his stellar work in healthcare industry and for setting us on the direction to create healthfile.
							p.video__author An initiative by
								a(href='http://lollypop.biz/')
									span Lollypop
									span Design Studio