section.whyemr-section
	.container
		.row
			.col-sm-9.col-sm-offset-1.col-md-8.col-md-offset-2.whyemr
				h3.section-title.whyemr__title WHY MY HEALTH FILE?
				.whyemr__wrap
					.whyemr__left.col-sm-6.col-md-7
						.whyemr__image
							img.img-responsive.mobile-image(src="img/mobile-image.png" alt="Mobile Image")
							.whyemr__innerimage.slider-for
								.slider-for__item
									img.img-responsive.active(src="img/easy-to-organise-img.png" alt="Content Image")
								.slider-for__item
									img.img-responsive(src="img/easy-to-share-img.png" alt="Content Image")
					.whyemr__right.col-sm-6.col-md-5
						.whyemr__content.slider-nav
							.whyemr__info
								.whyemr__frontelementbg
									h2.whyemr__subtitle(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100") Easy to organize
									p.common-para.whyemr__desc(data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100") Health File empowers you to store and organize your medical records safely and securely on the cloud.

								.whyemr__backelementbg
							.whyemr__info
								.whyemr__frontelementbg
									h2.whyemr__subtitle Easy to share
									p.common-para.whyemr__desc Share your medical history with your doctor effortlessly with Healthfile - A 
										strong reliable
										|  and 
										strong robust 
										|  EMR app.

								.whyemr__backelementbg
