doctype html

html(lang= "en")
	head
		include jade/base/header.jade

	body
		header
			include jade/layouts/navbar-secondary.jade

		main
			include jade/layouts/policy-page.jade

		footer
			include jade/layouts/footer.jade

		include jade/base/scripts.jade